
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
}

section {
    max-width: 1920px;
    margin: 90px;
}
.nav-all-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left-part{
    display: flex;
    gap: 20px;
}

.nav-left-part img {
    width: 66px;
    height: 35px;
    margin-top: 57px;
}
.logo-content{
    font-size: 2.8rem;
}
.span-follow {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 11px 17px 11px 15px;
    gap: 10px;
}

.nav-part-right a {
    margin-right: 40px;
    text-decoration: none;
}
.btn-primary{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}


@media screen and (max-width:576px) {

   .nav-all-part{
    flex-direction: column;
   } 
   .span-follow {
    display: flex;
}
.nav-part-right a {
   
    margin-left: 78px;

}

}